body {
    background-color: #333333;
}

.page-title {
    color: #ffffff;
}
/*****
/* Jobs overview
*****/
.jobs-container {
    margin-top: 10px;
}

.jobs-container .jobs-table {
    margin-top: 10px;
}

.jobs-container .job-title {
    display: inline-block;
}

.jobs-container .job-location {
    display: inline-block;
}

.jobs-container .post-date {
    font-size: 18px;
    margin-top: 20px;
}

.jobs-container .show-job-btn {
    font-size: 24px;
    padding: 15px 20px;
}

/*****
/* Show job
*****/

.single-job {
    margin-top: 10px;
}

.single-job .contact-details{
    margin-top: 20px;
}

.single-job .job-description {
    margin-top: 30px;
}

.single-job .map-container {
    position: relative;
    text-align: center;
}

.single-job .invalid-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
}

.single-job .invalid-data h3 {
    margin-top: 80px;

}



.single-job .delete-form {
    display: inline-block;
}

.single-job .delete-form .delete-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*****
/* Create/edit job
*****/

.create-container, .edit-container {
    margin-top: 10px;
}
