{% extends 'base.html.twig' %}

{% block title %}Edit job | Job searcher{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center page-title">Job searcher
            <small>Editeren</small>
        </h1>
        <div class="row col-md-10 col-md-offset-1">
            <div class="panel panel-default edit-container">
                <div class="panel-body">
                    {{ include('job/form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        jobs.initTinymce();
    </script>
{% endblock %}

