{% if job is defined %}
    <form action="{{ url('jobs_update', {'id': job.id}) }}" method="post">
    {% else %}
    <form action="{{ url('jobs_store') }}" method="post">
        {% endif %}
        <div class="form-group form-group-sm">
            <label for="name">Naam</label>
            <input type="text" name="name" value="{{ job.name|default("") }}" class="form-control input-sm">
        </div>
        <div class="form-group form-group-sm">
            <label for="description">Omschrijving</label>
            <textarea id="description" name="description" class="form-control input-sm" cols="30"
                      rows="10">{{ job.description|default("") }}</textarea>
        </div>
        <div class="form-group form-group-sm">
            <label for="address">Adres</label>
            <input type="text" name="address" value="{{ job.address|default("") }}" class="form-control input-sm">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="zipcode">Postcode</label>
                    <input type="text" name="zipcode" value="{{ job.zipcode|default("") }}"
                           class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group form-group-sm">
                    <label for="city">Woonplaats</label>
                    <input type="text" name="city" value="{{ job.city|default("") }}" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="{{ path('jobs_index') }}">Annuleren</a>
                {% if job is defined %}
                    <input type="submit" class="btn btn-primary" value="Wijzigen"/>
                {% else %}
                    <input type="submit" class="btn btn-primary" value="Aanmaken"/>
                {% endif %}
            </div>
        </div>
    </form>
