{% extends 'base.html.twig' %}

{% block title %}Overview | Job searcher{% endblock %}
{% block body %}
    <div class="container jobs-container">
        <h1 class="text-center page-title">Job searcher
            <small>Overzicht</small>
        </h1>
        <div class="row col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" href="{{ path('jobs_new') }}">
                                Nieuwe vacature
                            </a>
                        </div>
                    </div>
                    <hr>
                    {% for job in jobs %}
                        <div class="job row">
                            <div class="col-md-12">
                                <h2 class="job-title">{{ job.name }}
                                    <small>{{ job.city }}</small>
                                </h2>
                            </div>
                            <div class="col-md-8">
                                {{ job.description|raw }}
                            </div>
                            <div class="col-md-4 text-center">
                                <a href="{{ path('jobs_show', { 'id': job.id }) }}" type="button"
                                   class="btn btn-primary show-job-btn">Bekijk vacature</a>
                                <p class="post-date"><b>Geplaatst op {{ job.created_at|date("m/d/Y") }}</b></p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
