{% extends 'base.html.twig' %}

{% block title %}Create job | Job searcher{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center page-title">Job searcher
            <small>Aanmaken</small>
        </h1>
        <div class="row col-md-10 col-md-offset-1">
            <div class="panel panel-default create-container">
                <div class="panel-body">
                    {{ include('job/form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
{% endblock %}
