{% extends 'base.html.twig' %}

{% block title %}Show job | Job searcher{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center page-title">Job searcher
        </h1>
        <div class="row col-md-10 col-md-offset-1">
            <div class="panel panel-default single-job">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>{{ job.name }}</h2>
                            <div class="job-description">
                                {{ job.description|raw }}
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 contact-details">
                            <h4>Adresgegevens</h4>
                            <address>
                                {{ job.address }}<br/>
                                {{ job.zipcode }} {{ job.city }}
                            </address>
                            <hr>
                            <div class="map-container">
                                <div id="map" style="height:200px; width: 100%;"
                                     data-geocode="{{ job.address }}, {{ job.zipcode }} {{ job.city }}"></div>
                                <div class="invalid-data hidden">
                                    <h3>Adres niet gevonden</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <a href="{{ path('jobs_index') }}" type="button"
                                   class="btn btn-default show-job-btn">Terug naar het overzicht</a>
                                <a href="{{ path('jobs_edit', { 'id': job.id }) }}" type="button"
                                   class="btn btn-primary">Wijzigen</a>
                                <form class="delete-form" method="post"
                                      action="{{ url('jobs_delete', {'id': job.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="btn btn-danger delete-btn" value="Verwijderen"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXPTW99ZaohJREW1ZhSxMxoQWhjKeivTw&callback=jobs.initMap"></script>
{% endblock %}
